instantclient-basic/instantclient_23_4/*.dll filter=lfs diff=lfs merge=lfs -text
instantclient-basic/instantclient_23_4/*.so filter=lfs diff=lfs merge=lfs -text
instantclient-basic/instantclient_23_4/*.dylib filter=lfs diff=lfs merge=lfs -text
