# 配置文件（包含敏感信息）
# config.py
# config_dev.py

# # 数据目录
# data/

# 编译结果
dist/
build/
*.spec
__pycache__/
*.py[cod]
*$py.class

# 环境文件
.env
.venv
env/
venv/
ENV/

# IDE文件
.idea/
.vscode/
*.swp# Oracle客户端目录
instantclient-basic/
